nav {
  background: #000;
  color:white;
  display: flex;
  height: 50px;
}
nav .nav-drawer {
  font-size: 1.5em;
  display: flex;
  width: 70px;
}
nav .nav-drawer a {
  margin: 0 25px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 50%;
  transition: all 0.3s;
}

nav .nav-drawer a:hover {
  background: #eee;
}

nav .nav-drawer a:focus {
  outline: 0;
  background: #ccc;
}

nav .title {
  display: flex;
}

nav .title h1{
  margin: 0;
  font-size: 1.5em;
  align-self: center;
}
